<div class="text-center">
    <h1>Welcome to Simple CMS2 Landing page</h1>
    <p>List of all Pages:</p>
    <ul class="text-left" style="margin-left: 470px">
        <li>Tonko</li>
        <li>Tonko</li>
        <li>Tonko</li>
        <li>Tonko</li>
        <li>Tonko</li>
        <li>Tonko</li>
    </ul>
    
    <%= link_to("Admin area", "#", class: "btn btn-primary") %>
</div>
