<h1>Demo#index</h1>
<p>Find me in app/views/demo/index.html.erb</p>
<% tonko = "balonko" %>
<h1><%= "Hello #{tonko}" %></h1>
<%= link_to "tonko je balonko", tonko_index_url(tonko: "balonko", dadi: "na cokoladi"), data: {tonko: "balonko", dadi: "na_cokoladi"} %>
