<h1>Pages for: <%= @subject.name %></h1>

<table class="table">
    <thead>
        <tr>
            <th>Page name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @pages.each do |page| %>
            <tr>
                <td><%= link_to page.name, '#', class: 'btn btn-info' %></td>
                <td>
                    <%= link_to 'Edit', '#', class: 'btn btn-warning' %>
                    <%= link_to 'Delete', '#',
                                        method: 'delete',
                                        data: { confirm: 'Are you sure?', disable_with: 'loading...'},
                                        class: 'btn btn-danger' %></td>
            </tr>
        <% end %>
    </tbody>
</table>