<!DOCTYPE html>
<html>
  <head>
    <title>SimpleCms2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body style="background-color: silver">
    <br>
      <%= yield %>
  </body>
</html>
